{% extends 'base.html' %}
{% load static %}

{% block title %}{{ question.title }} - Домашняя книга рецептов{% endblock %}

{% block content %}
<div class="box_without_border">
    <div class="user_question">
        {% if question.author.avatar %}
            <img src="{{ question.author.avatar.url }}" alt="Аватар" class="avatar-img_question">
        {% else %}
            <img src="{% static 'img/maxresdefault.jpg' %}" alt="Аватар" class="avatar-img_question">
        {% endif %}
        <div class="like-counter" data-id="{{ question.id }}">
            <div class="like-buttons">
                <button class="like-btn" data-type="like" data-id="{{ question.id }}">+</button>
                <button class="dislike-btn" data-type="dislike" data-id="{{ question.id }}"> - </button>
            </div>
            <span class="likes-count">{{ question.rating }}</span>
        </div>
    </div>
    <div class="text_question">
        <p>
            <a class="h2_custom">
                {{ question.title }}
            </a>
        </p>
        <p>{{ question.text }}</p>
        <div class="line_box_question">
            <div>
                Тэги: 
                {% for tag in question.tags %}
                    <a href="{% url 'app:tag_questions' tag_name=tag %}" 
                       style="text-decoration: underline;">
                        {{ tag }}{% if not forloop.last %},{% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr>

{% for answer in answers %}
<div class="box">
    <div class="user_question">
        {% if answer.author.avatar %}
            <img src="{{ answer.author.avatar.url }}" alt="Аватар" class="avatar-img">
        {% else %}
            <img src="{% static 'img/images.png' %}" alt="Гость" class="avatar-img">
        {% endif %}
        <div class="like-counter" data-id="{{ answer.id }}">
            <div class="like-buttons">
                <button class="like-btn" data-type="like" data-id="{{ answer.id }}">+</button>
                <button class="dislike-btn" data-type="dislike" data-id="{{ answer.id }}"> - </button>
            </div>
            <span class="likes-count">{{ answer.rating }}</span>
        </div>
    </div>
    <div class="text_question">
        <p>{{ answer.text }}</p>
        <div class="text_question">
            <div class="correct-buttons">
                {% if user.is_authenticated and user == question.author %}
                    <input type="checkbox" data-id="{{ answer.id }}" 
                           {% if answer.is_correct %}checked{% endif %}
                           style="width: 40px;" class="correct-checkbox">
                    Ответ помог!
                {% elif answer.is_correct %}
                    <span class="badge bg-success">✓ Правильный ответ</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<p>Ответов пока нет. Будьте первым, кто ответит!</p>
{% endfor %}

{% include 'pagination.html' with page=page %}

{% if user.is_authenticated %}
<textarea id="answerInput" class="box"
          placeholder="Введите сюда свой ответ... Например: Для приготовления пирога вам понадобятся: мука, яйца, сахар..." 
          style="text-align: center;"></textarea>
<div style="display: flex; gap: 10px; justify-content: center;">
    <button class="button" id="submitAnswer">
        Отправить ответ
    </button>
</div>
{% endif %}
{% endblock %}