# Django Settings
SECRET_KEY='django-insecure-2j9-$wvvn7-4+dop3ckk1*!91s*k-!h%xg!*c-pbmwl7p#3(&m'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Media and Static Files
MEDIA_URL=/uploads/
STATIC_URL=/static/
